<!DOCTYPE html>

<html>

<heading>
  <title> Gallery </title>
  <link href = "../static/css/bootstrap.min.css" rel="stylesheet">
</heading>

<body>

<!-- Toolbar changes if user is logged in -->
{% if not isLoggedIn %}

{% else %}

{% endif %}

<div class= "container">

  <ul>

      {% for mapID in mapLinkData %} <!-- update mapLinkData thing -->

      <li>

	<form action = "{{mapID['url']}}" method = "POST"/> <!-- change the mapID thing -->

	<button type="submit" id="mapButton" name="{{mapID['name']}}" value="">{{mapID['name']}}</button>
      
      </li>

      {% endfor %}

  </ul>

</div>




</body>

</html>
