<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <title></title>
  </head>

  <body>
     <!-- Navigation Bar-->
    <nav class="toolbar">
        <div class="toolbar toolbar-container">
            <ul class="toolbar-nav">
                <!-- Navigation Menu-->
                <li class="toolbar-button"><a data-toggle="tab" href="#gallery">Gallery</a></li>
                {% if isLoggedIn %}
                <li class="toolbar-button"><a data-toggle="tab" href="#tasks">Tasks</a></li>
                <li class="toolbar-button"><a data-toggle="tab" href="#store">Store</a></li>
                <li class="toolbar-button"><a data-toggle="tab" href="#inventory">Inventory</a></li>
                {% endif %}
	    </ul>

	    <ul class="toolbar-nav">
	      <div class="input-group">
		<input type="text" class="form-control" placeholder="Look for a map!" aria-describedby="basic-addon2">
		<span class="input-group-addon" id="basic-addon2">Go!</span>
	      </div>
	    </ul>
	    
	    <ul class="toolbar-nav" style="float: right;">
                {{message}}
	        {% if not isLoggedIn %}
		<button class="toolbar-button" data-toggle="modal" data-target="#signup">Signup</button>
		<button class="toolbar-button" data-toggle="modal" data-target="#login">Login</button>
		{% endif %}
		{% if isLoggedIn %}
		<button class="toolbar-button"><a href="/logout">Logout</a></button>
		{% endif %}
            </ul>
            {% if isLoggedIn %}
            <ul class="toolbar-nav" style="float: right;">
                <li popover="Gold (18)" popover-placement="bottom" data-trigger="hover" class="toolbar-currency gold">
                    <span class="shop_gold"></span>
                    <span id="balance">{{balance}}</span>
                </li>
            </ul>
            {% endif %}


	    
            <!-- Login Modal -->
            <div class="modal fade" id="login">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Good to see you again!</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/login/" method="POST">
                                <input class="form-field" placeholder="Username" type="text" name="username">
                                <br>
                                <input class="form-field" placeholder="Password" type="password" name="password">
                                <hr>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" name="login" value="Login" class="btn btn-secondary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Signup Modal -->
            <div class="modal fade" id="signup">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Nice to meet you!</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/register/" method="POST">
                                <input class="form-field" placeholder="Username" type="text" name="username">
                                <br>
                                <input class="form-field" placeholder="Password" type="password" name="password">
                                <hr>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" name="register" value="Register" class="btn btn-secondary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

	    
        </div>
    </nav>
    Hello


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
     <script>
        $('#login').modal('hide');
        $('#signup').modal('hide');
     </script>
    
  </body>
  
  
</html>
