<html>
  <head>
    <title>Map Editor</title>
  </head>
  <body>
    <svg id="editorCanvas" xmlns="http://www.w3.org/2000/svg" width = "1000", height = "500" style="border:1px solid #000000"/>
    <br>
    <button id="clrBtn">Clear</button>
    <button id="delPgBtn">Delete Page</button>
    <button id="delMapBtn">Delete Map</button>
    <button id="pubMapBtn">Publish Map</button>
    <button id="saveMapBtn">Save Map</button>
    <br>
    <button id="ptBtn">Point</button>
    <button id="nodeBtn">Node</button>
    <button id="pathBtn">Path</button>
    <button id="cnxnBtn">Connection</button>
    <button id="defBtn">Default</button>
    <br>
    <p>Status: <span id="status"></span></p>
    <script src="../static/editor.js"></script>
  </body>
</html>
