{% extends "base.html" %}


{% block content %}
    <svg id="editorCanvas" xmlns="http://www.w3.org/2000/svg" width = "1000", height = "500" style="border:1px solid #000000"/>
    <br>
    <button id="clrBtn">Clear</button>
    <button id="delPgBtn">Delete Page</button>
    <button id="addPgBtn">Add Page</button>
    <button id="nextPgBtn">Next Page</button>
    <button id="prevPgBtn">Prev Page</button>    
    <button id="delMapBtn">Delete Map</button>
    <button id="pubMapBtn">Publish Map</button>
    <button id="saveMapBtn">Save Map</button>
    <br>
    <button id="ptBtn">Point</button>
    <button id="nodeBtn">Node</button>
    <button id="pathBtn">Path</button>
    <button id="cnxnBtn">Connection</button>
    <button id="defBtn">Default</button>
    <button id="delElBtn">Delete Element</button>
    <br>
    <h1>
      <div id="mapTitle"></div>
    </h1>    
    Page: <div id="pgTitle">      

    </div>
    <br>
    <p>Status: <span id="status"></span></p>
    <br>
    <div id="monitor">

    </div>
    <script src="../static/editor.js"></script>
    <!--<script src="../static/svg-pan-zoom.js"></script>-->
    <script src="../static/svgpan.js"></script>
{% endblock %}
